.body{
    
  font-weight: 400;
  font-family: Camphor;
  font-family: Lato, Helvetica, Arial, sans-serif !important;
position: relative;
}
.colors{
   background-color:   #41698e !important;
}
.text-color ul li a {
  color: white !important;
  text-decoration: none;

  font-weight: 500;
  font-size: 13.75px;
  line-height: 1.25;
 
  
  text-size-adjust: 100%;
}
.text-color ul li  {
  
  text-align: center;
  display: inline-block;
  text-align: left;
  margin-left: 30%;
 
  color: white !important;
  text-decoration: none;

  font-weight: 500;
  font-size: 13.75px;
  line-height: 1.25;
 

}
.text-color ul{
  list-style-type: none;
  padding: 0;
  display: flex;
 
  flex-direction: column;

}





.list-unstyled a:hover { 
  
  border-bottom: 1px solid white;
 }

.text-color h5 {
  color: white !important;
  /* text-decoration: none; */
  font-weight: 700;
  font-size: 14px;

 
  line-height: 1.25;
}
.footer-margin h5{
  margin-right: 15%;
}
.margin-css{
  margin-right: 20% !important;
}

.copyright{
  color: white !important;

}